.App {
  text-align: center;
  background-blend-mode: screen;
  background-color: rgba(238, 238, 238, 0.55 ) !important;
  background-image: url('../assets/37286.jpg');
  background-color: lightyellow;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.header {
}

